/*
    TAXT CALCULATOR MAIN STYLESHEET
    
*/
   @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}


/* Whole page */

html {
    /*  max-width: 3840px;*/
    margin: 0 auto;
}


/* CONTAINER MAX SIZING: 1920px*/

.max1920p {
    max-width: 1920px;
}


/* Navigator Bar */

nav {
    position: fixed;
    width: 100%;
    background-color: #0D0F14;
    color: #ffffff;
/*    box-shadow: 0px 0px 1px 1px rgba(13, 15, 20, 0.50);*/
    z-index: 5;
    transition: all 300ms ease-in-out;
    opacity: 1;
}

nav.hidden {
    transform: translateY(-80px);
    opacity: 0;
}


/* Nav Container controlling the with of Lists */

#nav_container {
    width: 100%;
    margin: 0 auto;
}

nav li {
    display: inline-block;
    list-style-type: none;
    padding: 16px;
    margin: 0px 5px 0px 50px;
    cursor: pointer;
    text-align: center;
    transition: all 200ms ease-in-out;
    text-shadow: 0 0 2px #ffffff;
}

#nav_container a {
    text-decoration: none;
    color: #ffffff;
}

nav li:hover {
    /*    background-color: rgba(105, 0, 0, .5);*/
    background-color: #690000;
}

nav ul {
    display: inline-block;
    float: right;
    margin-right: 50px;
}

nav ul li {
    float: right;
    padding: 16px;
    margin: 0;
}


/* clear fix*/

nav li:after {
    content: "";
    display: block;
    clear: both;
}


/*hidden burger nav: menu*/

#hidden-menu {
    position: fixed;
    right: 0px;
    margin: 10px 20px;
    padding: 5px 5px 8px 5px;
    z-index: 1;
   /* width: 60px;*/
    /*height: 45px;*/
/*    overflow: hidden;*/
}

/*jquery function: */
#hidden-menu img {
    display: inline-block;
    width: 40px;
    height: 40px;
    transition: transform 300ms ease-in-out;
    transform: translateX(100px);
    cursor: pointer;
}

#hidden-menu img.show-menu { 
    transform: translateX(0); 
}

/*#hidden-menu img.show-menu:hover {
    transform: rotate(180deg);
}*/


#hidden-menu:hover #hidden-nav-menu li {
    transform: translateX(0px);
}

#hidden-nav-menu {
    width: 300px; 
    display: inline-block;
    overflow: hidden;

}

#hidden-nav-menu li {
    float: right;
    width: 40px;
    margin-right: 10px;
    padding: 10px;
    background-color:#ffffff;
    box-shadow: rgba(75, 79, 88, 1);
    border-radius: 50%;
  /*  text-shadow: 2px 2px 10px #ffffff;*/
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #690000;
    transform: translateX(300px);
    transition: 400ms ease-in-out;
    cursor: pointer;
}

#hidden-nav-menu li:hover {
    color: #000000;
}

/* Navigation Bar: End Code */


/* BANNER TOP */

#banner {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #690000;
    box-shadow: 0px 1px 5px 1px rgba(105, 0, 0, 0.50);
    padding: 90px 0 0 50px;
    color: #ffffff;
    z-index: 4;
}


/*BACKGROUND BANNER*/

#bg_banner {
    overflow: hidden;
    display: inline-block;
    width: 600px;
    height: 250px;
    position: absolute;
    top: -90px;
    right: 0;
    background-image: url(../img/calcBanner2.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.89;
    z-index: -1;
}

#bg_banner span {
    display: inline-block;
    width 10px;
    height: 250px;
    box-shadow: 0 0 50px 60px #690000;
    transform: skewX(-15deg);
}


/*BACKGROUND BANNER*/

#banner>div {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#banner div div:nth-child(2),
#banner div div:nth-child(3) {
    display: inline-block;
    line-height: 40px;
    text-shadow: 0 0 2px #ffffff;
    letter-spacing: 3px;
}

#banner div div:nth-child(2) img {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 10px;
}

#banner div div:nth-child(3) h1 {
    font-size: 50px;
    font-family: serif;
}


/*#banner div img:after {
    content: "";
    display: block;
    clear: both;
}*/


/* BANNER TOP: End Code */


/* HOMEPAGE MAIN BODY */

#body_container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}


/*============ FORM ===================*/

#body_container>h1 {
    text-align: center;
    padding-top: 25px;
    font-size: 2.5em;
    text-shadow: 2px 2px 5px #000000;
/*    font-family:  ;*/
}

hr {
    width: 90%;
    margin: 20px auto;
}

#form_container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 95%;
    margin: 0 auto;
    /*    border: 1px solid black;*/
}

form {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 95%;
    margin: 0 auto;
    width: 100%;
}

#form_container fieldset {
    position: relative;
    width: 100%;
    margin: 10px;
    border-radius: 6px;
    padding-bottom: 30px;
}

#form_container fieldset legend {
    margin: 20px 0 5px 20px;
    padding: 0 10px;
    font-weight: bold;
}

.fieldset-container,
.result-container {
    position: relative;
    width: 100%;
    padding-left: 20px;
    margin-top: 20px;
}


/*#salary-container.fieldset-container {
    
}*/

.label {
    display: inline-block;
    width: 100px;
    padding-right: 10px;
}

#select-period,
#select-status,
.input {
    width: 200px;
    height: 30px;
    padding-left: 15px;
    border-radius: 5px;
    margin-right: 15px;
}


/* option field*/

option {
    border: 1px solid #0D0F14;
}

#select-period option {
    text-align: right;
}


/* Result fieldset */

.result-container p {
    width: 200px;
    padding-bottom: 2px;
    display: inline-block;
}

.total {
    /*    position: absolute;
    top: 0;
    right: 0;*/
    text-align: right;
    width: 150px;
    float: right;
    display: inline-block;
    margin-right: 20px;
}


/*clearfix on .total*/

.result-container:after {
    content: "";
    display: block;
    clear: right;
}


/* Misc Button */

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #0D0F14;
    box-shadow: 1px 1px 4px 0px #0D0F14;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    transition: all 200ms ease-in-out;
}


/*js onclick*/

#button.clicked {
    background-color: #690000;
}


/*#button.clicked:hover {
    background-color: #0D0F14;
}*/

#button:hover {
    background-color: #690000;
}


/* fieldset hightlights*/

button,
input,
select,
option {
    outline-width: 0;
}


/*============ FORM ===================*/

#section-container1,
#section-container2 {
    width: 100%;
    padding-bottom: 50px;
    margin-top: 40px;
    background-color: rgba(75, 79, 88, .1);
}


#section1-txt, #section2-txt {
    width: 55%;
    display: inline-block;
    float: left;
    padding-top: 20px;
}


#section1-img,#section2-img {
    position: relative;
    width: 45%;
    display: inline-block;
    float: left;
    padding-top: 20px;
}

#section1-img img:nth-child(1) {
    height: 160px;
    width: 160px;
}



#section1-img img:nth-child(2) {
    height: 250px;
    width: 350px;
}


#section2-img img:nth-child(1) {
    height: 300px;
    width: 350px;
}

#section2-img img:nth-child(2) {
    height: 160px;
    width: 160px;
    margin-top: 10%;
}

/* clear fix */

#section-container1:after,
#section-container2:after {
    content: "";
    display: block;
    clear: both;
}

#section1-txt h4,
#section2-txt h4 {
    text-align: center;
    padding: 20px 10px;
    margin-top: 10px;
    font-size: 2em;
    text-shadow: 1px 1px 10px rgba(75, 79, 88, .5);
    color: #690000;
}

#txt-content1,
#txt-content2 {
    font-size: 1.2em;
    padding: 16px 50px;
    text-align: center
}

#txt-content2 a {
    font-size: 20px;
    text-decoration: none;
    color: #690000;
    font-weight: bold;
}

#txt-content1 p span,
#txt-content2 span, .slider p span { 
    font-size: 30px;
    color: rgba(75, 79, 88, .5);
    /*    text-shadow: 1px 1px 10px  rgba(75, 79, 88, .5); */
}

#section1-img img,
#section2-img img {
    margin: 50px auto;
    display: block;
    opacity: 0;
    transform: translateX(20px);
    transition: all 300ms ease-in-out;
}

/*jquery parallax effect*/
#section1-img img.is-showing, #section2-img img.is-showing {
    opacity: 1;
    transform: translateX(0px);
}


#txt-content2 ol li {
    text-align: left;
    list-style: disc;
    line-height: 1.4em;
    font-size: .99em;
}


/* section container: end*/

/* tax computation-container*/

#tax-computation-container {
    padding: 20px 15px 5px 15px;
    background-color: rgba(75, 79, 88, .1);
}

#tax-computation-container h4 {
    text-align: center;
    padding-top: 60px;
    font-size: 2em;
    /*    text-shadow: 2px 2px 10px #000000;*/
    color: #690000;
}

/* slider here */

#slide-container {
    position: relative;
    width: 95%;
    height: 600px;
    overflow: hidden;
    margin: 50px auto 0 auto;

}


/*edit*/

.slider {
    display: inline-block;
    width: 100%;
    height: 600px;
    font-size: 1.2em;
}


#left-side-clicker,
#right-side-clicker {
    position: absolute;
    top: 0;
    width: 10%;
    height: inherit;
    padding-top: 230px;
    font-size: 50px;
    color: #690000;
    text-shadow: 1px 2px 3px #000000;
    cursor: pointer;
    opacity: 0.5;
    transition: all 200ms ease-in-out;
}

#left-side-clicker:hover,
#right-side-clicker:hover {
    font-size: 55px;
    /*    color: rgba(75, 79, 88, .9); */
    padding-top: 233px;
    text-shadow: 0px 0px 15px #000000;
    opacity: 1;
}

#left-side-clicker {
    left: 0;
    text-align: left;
    padding-left: 50px;
}

#right-side-clicker {
    right: 0;
    text-align: right;
    padding-right: 50px;
    
}


/*sample only*/

.page1, .page2, .page3, .page4, .page5, .page6, .page7 {
    text-align: center;
    padding: 20px 100px;
}

.page1 div, .page3 div, .page4 div, .page5 div, .page6 div, .page7 div {
    width: inherit;
    padding: 10px 0px; /* padding: 10px 8%*/
    display: inline-block;
/*    margin: 0 auto;*/
}

.page1 div img, .page2 div img, .page5 div img, .page7 div img {
    display: inline-block;
    height: 160px;
    width: 180px;
}

.page2 div p:nth-child(1) {
    margin: 10px;
    font-weight: bold;
}
/*to be continue: next slide 3*/

.page3 div img, .page4 div img. .page6 div img {
    display: inline-block;
    width: 720px; 
}


.page7 div:nth-child(1) {
    margin-top: 20px;
}

/*other settings for sliders*/

.page1 div, .page2 div {
    padding: 0 150px;
}

/* tax table here*/

#taxTable-container {
    width: 100%;
}

#taxTable-container img {
    width: 850px;
    margin: 50px auto;
    display: block;
}


/* Contribution section */

#contributors {
    width: 100%;
    padding: 0 50px 50px 50px;
    background-color: rgba(75, 79, 88, .1);
    box-shadow: 0px 1px 5px 1px rgba(75, 79, 88, .1);
    color: rgb(75, 79, 88);

}

#contributors:after {
    content: "";
    display: block;
    clear: both;
}

#contributors h3 {
    padding: 50px 0 20px 20px;
    text-shadow: 1px 1px 10px rgba(75, 79, 88, .5);
    color: #690000;
    font-size: 1.5em;
}

/* display sample only*/

#contributors div {
    float: left;
    padding: 0 20px;
    line-height: 30px;
}

#contributors div p {
    cursor: pointer;
    text-decoration: underline;  
}

#contributors div h2 {
    padding: 5px 0;
    letter-spacing: 2px;
    color: #000000;
}

/* display sample only*/


/* HOMEPAGE MAIN BODY: End Code */

footer {
    width: 100%;
        background-color: #1D202B;
    color: #ffffff;
    border-top: 10px solid #690000;
    font-size: 15px;
    text-shadow: 0 0 0 transparent;
}

#footer-container {
    max-width: 1920px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.footer_hr {
    border: 1px dotted rgb(75, 79, 88);
}

#footer-container div:nth-child(1),
#footer-container div:nth-child(2),
#footer-container div:nth-child(3) {
    display: inline-block;
    width: 33.3%;
    /*    height: 200px;*/
    margin: 0 auto;
    padding: 40px 20px 30px 20px;
    color: #ffffff;
/*    text-shadow: 0px 5px 5px #1D202B;*/
    text-align: center;
    line-height: 20px;
}

/*sample part only; for display purpose only*/
#footer-container div:nth-child(3) i{
    cursor: pointer;
    letter-spacing: 5px;
    transition: all 200ms ease-in-out;
}

#footer-container div:nth-child(3) i:hover {
    color: rgba(75, 79, 88, 1);
}
/*sample part only*/

.footer-bottom-container {
    background-color: #000000;
}

div.footer-bottom-container div {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}


/*================ MEDIA QUERY =====================*/


/* media query main */

@media screen and (max-width: 1200px) {
    
    #banner div div:nth-child(2),
    #banner div div:nth-child(3) {
        letter-spacing: 1px;
    }
    
    #banner div div:nth-child(3) h1 {
    font-size: 40px;

    }
}

@media screen and (max-width: 1050px) {
    
    #bg_banner {
        width: 400px;
    }
    
}

@media screen and (max-width: 980px) {
    
    /*section images*/ 
    
    #section1-img img:nth-child(1) {
        height: 130px;
        width: 130px;
    }

    #section1-img img:nth-child(2) {
        height: 200px;
        width: 250px;
    }


    #section2-img img:nth-child(1) {
        height: 180px;
        width: 230px;
    }

    #section2-img img:nth-child(2) {
        height: 150px;
        width: 150px;
        margin-top: 10%;
    }

    /*slides*/
    #slide-container {
        font-size: 12px;
        margin: 0 auto;
    }
    
    #slider-container div:nth-child(1) {
        padding-top: 10px;  
    }
    
    .page1 div, .page2 div {
        padding: 20px 0px;
    }
    
    .page3 div:nth-child(1) img {
        width: 100%;
    }
    
    .page4 div:nth-child(2) img, .page6 div:nth-child(2) img {
        width: 90%;
    }

    .page7 div:nth-child(2) img {
        height: 140px;
        width: 160px;    
    }
    
    #taxTable-container img {
        width: 100%;
    }
     
} /*m.query@980px*/


@media screen and (max-width: 885px) {
    
    #bg_banner {
        display: none;
    }
    
}

@media screen and (max-width: 780px) {
    
    /* form */
    
    #form_container {
        display: block;
    }
    
    /* section */
    
    #section1-img,#section2-img {
        position: absolute;
        right: 999999px;
    }
    
    #section1-txt,#section2-txt {
        width: 100%;
    }

} /*m.query@780px*/






































